<section class="hero">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/expectation/datasets/" target="_blank" rel="noopener noreferrer">
                <!-- <img src="../../static/nav-bar-logo.png" width="112" height="128"> -->
                <strong>Validly</strong>
            </a>

            <!-- <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true">History</span>
            <span aria-hidden="true">Documentation</span>
        </a> -->
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/expectation/documentation/" target="_blank">
                    Documentation
                </a>
            </div>
        </div>
    </nav>
</section>